.in2iframe-container {
  background: rgb(216, 0, 48);;
  padding: 25px;
  cursor: pointer;
  height: 300px;
}

.in2iframe-button {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  box-shadow: none !important;
  background-color: rgb(133, 136, 145) !important;
  border: none !important;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color;
}