.iframeswitch {

  &-container {
    background-size: auto;
    box-shadow: 0 3px 5px #333;
    height: 300px;
    width: 100%;
    padding-top: 1px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }

  &-header{
    padding-right: 11em;
  }

  &-submit {
    margin-top: 20px;
    padding: 1em;
    width: 100%;
    box-shadow: none;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: color .6s , background-color .6s , border .6s;

    &:hover {
      border: 1px solid grey;
      background-color: #fff;
      color: #000;
    }
  }
}

.iframe {
  height: 300px;
  width: 100%;
  border: none;
}
